<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="login">
		<h1>Predict Salary Analysis</h1>

		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}" method="post">

			<li class="form-line" data-type="control_number" id="id_15">
				<label class="form-label form-label-top" id="label_15" for="input_15"> LIMIT_BAL </label>
				<div id="cid_15" class="form-input-wide" data-layout="half">
					<input type="number" id="input_15" name="q15_limit_bal" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="50000" style="width:310px" size="310"
						value="50000" placeholder="ex: 50000" data-component="number" aria-labelledby="label_15"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_16">
				<label class="form-label form-label-top" id="label_16" for="input_16"> SEX </label>
				<div id="cid_16" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_16" name="q16_sex" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="2" style="width:310px" size="310"
							value="2" placeholder="ex: 1" data-component="number"
							aria-labelledby="label_16 sublabel_input_16" step="any" />
						<label class="form-sub-label" for="input_16" id="sublabel_input_16" style="min-height:13px"
							aria-hidden="false"> 1 FOR MALE AND 2 FOR FEMALE </label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_17">
				<label class="form-label form-label-top" id="label_17" for="input_17"> EDUCATION </label>
				<div id="cid_17" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_17" name="q17_education" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="2" style="width:310px" size="310"
							value="2" placeholder="ex: 2" data-component="number"
							aria-labelledby="label_17 sublabel_input_17" step="any" />
						<label class="form-sub-label" for="input_17" id="sublabel_input_17" style="min-height:13px"
							aria-hidden="false"> 1=graduate school, 2=university, 3=high school, 4=others, 5=unknown,
							6=unknown </label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_18">
				<label class="form-label form-label-top" id="label_18" for="input_18"> MARRIAGE </label>
				<div id="cid_18" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_18" name="q18_marriage" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="1" style="width:310px" size="310"
							value="1" placeholder="ex: 1" data-component="number"
							aria-labelledby="label_18 sublabel_input_18" step="any" />
						<label class="form-sub-label" for="input_18" id="sublabel_input_18" style="min-height:13px"
							aria-hidden="false"> 1=married, 2=single, 3=others </label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_22">
				<label class="form-label form-label-top" id="label_22" for="input_22"> AGE </label>
				<div id="cid_22" class="form-input-wide" data-layout="half">
					<input type="number" id="input_22" name="q22_age" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="37" style="width:310px" size="310"
						value="37" placeholder="ex: " data-component="number" aria-labelledby="label_22" step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_47">
				<label class="form-label form-label-top form-label-auto" id="label_47" for="input_47"> PAY_0 </label>
				<div id="cid_47" class="form-input-wide" data-layout="half">
					<input type="number" id="input_47" name="q47_pay_0" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="0" style="width:310px" size="310"
						value="0" placeholder="ex: 23" data-component="number" aria-labelledby="label_47" step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_23">
				<label class="form-label form-label-top form-label-auto" id="label_23" for="input_23"> PAY_2 </label>
				<div id="cid_23" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_23" name="q23_pay_2" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="0" style="width:310px" size="310"
							value="0" placeholder="ex: 23" data-component="number"
							aria-labelledby="label_23 sublabel_input_23" step="any" />
						<label class="form-sub-label" for="input_23" id="sublabel_input_23" style="min-height:13px"
							aria-hidden="false"> -1=pay duly, 1=payment delay for one month, 2=payment delay for two
							months, … 8=payment delay for eight months, 9=payment delay for nine months and above
						</label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_24">
				<label class="form-label form-label-top form-label-auto" id="label_24" for="input_24"> PAY_3 </label>
				<div id="cid_24" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_24" name="q24_pay_3" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="0" style="width:310px" size="310"
							value="0" placeholder="ex: 23" data-component="number"
							aria-labelledby="label_24 sublabel_input_24" step="any" />
						<label class="form-sub-label" for="input_24" id="sublabel_input_24" style="min-height:13px"
							aria-hidden="false"> -1=pay duly, 1=payment delay for one month, 2=payment delay for two
							months, … 8=payment delay for eight months, 9=payment delay for nine months and above
						</label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_25">
				<label class="form-label form-label-top form-label-auto" id="label_25" for="input_25"> PAY_4 </label>
				<div id="cid_25" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_25" name="q25_pay_4" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="0" style="width:310px" size="310"
							value="0" placeholder="ex: 23" data-component="number"
							aria-labelledby="label_25 sublabel_input_25" step="any" />
						<label class="form-sub-label" for="input_25" id="sublabel_input_25" style="min-height:13px"
							aria-hidden="false"> -1=pay duly, 1=payment delay for one month, 2=payment delay for two
							months, … 8=payment delay for eight months, 9=payment delay for nine months and above
						</label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_26">
				<label class="form-label form-label-top form-label-auto" id="label_26" for="input_26"> PAY_5 </label>
				<div id="cid_26" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_26" name="q26_pay_5" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="0" style="width:310px" size="310"
							value="0" placeholder="ex: 23" data-component="number"
							aria-labelledby="label_26 sublabel_input_26" step="any" />
						<label class="form-sub-label" for="input_26" id="sublabel_input_26" style="min-height:13px"
							aria-hidden="false"> -1=pay duly, 1=payment delay for one month, 2=payment delay for two
							months, … 8=payment delay for eight months, 9=payment delay for nine months and above
						</label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_27">
				<label class="form-label form-label-top form-label-auto" id="label_27" for="input_27"> PAY_6 </label>
				<div id="cid_27" class="form-input-wide" data-layout="half">
					<span class="form-sub-label-container" style="vertical-align:top">
						<input type="number" id="input_27" name="q27_pay_6" data-type="input-number"
							class=" form-number-input form-textbox" data-defaultvalue="0" style="width:310px" size="310"
							value="0" placeholder="ex: 23" data-component="number"
							aria-labelledby="label_27 sublabel_input_27" step="any" />
						<label class="form-sub-label" for="input_27" id="sublabel_input_27" style="min-height:13px"
							aria-hidden="false"> -1=pay duly, 1=payment delay for one month, 2=payment delay for two
							months, … 8=payment delay for eight months, 9=payment delay for nine months and above
						</label>
					</span>
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_28">
				<label class="form-label form-label-top form-label-auto" id="label_28" for="input_28"> BILL_AMT1
				</label>
				<div id="cid_28" class="form-input-wide" data-layout="half">
					<input type="number" id="input_28" name="q28_bill_amt1" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="46990" style="width:310px" size="310"
						value="46990" placeholder="ex: 23" data-component="number" aria-labelledby="label_28"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_29">
				<label class="form-label form-label-top form-label-auto" id="label_29" for="input_29"> BILL_AMT2
				</label>
				<div id="cid_29" class="form-input-wide" data-layout="half">
					<input type="number" id="input_29" name="q29_bill_amt2" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="48233" style="width:310px" size="310"
						value="48233" placeholder="ex: 23" data-component="number" aria-labelledby="label_29"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_30">
				<label class="form-label form-label-top form-label-auto" id="label_30" for="input_30"> BILL_AMT3
				</label>
				<div id="cid_30" class="form-input-wide" data-layout="half">
					<input type="number" id="input_30" name="q30_bill_amt3" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="49291" style="width:310px" size="310"
						value="49291" placeholder="ex: 23" data-component="number" aria-labelledby="label_30"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_31">
				<label class="form-label form-label-top form-label-auto" id="label_31" for="input_31"> BILL_AMT4
				</label>
				<div id="cid_31" class="form-input-wide" data-layout="half">
					<input type="number" id="input_31" name="q31_bill_amt4" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="28314" style="width:310px" size="310"
						value="28314" placeholder="ex: 23" data-component="number" aria-labelledby="label_31"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_32">
				<label class="form-label form-label-top form-label-auto" id="label_32" for="input_32"> BILL_AMT5
				</label>
				<div id="cid_32" class="form-input-wide" data-layout="half">
					<input type="number" id="input_32" name="q32_bill_amt5" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="28959" style="width:310px" size="310"
						value="28959" placeholder="ex: 23" data-component="number" aria-labelledby="label_32"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_33">
				<label class="form-label form-label-top form-label-auto" id="label_33" for="input_33"> BILL_AMT6
				</label>
				<div id="cid_33" class="form-input-wide" data-layout="half">
					<input type="number" id="input_33" name="q33_bill_amt6" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="29547" style="width:310px" size="310"
						value="29547" placeholder="ex: 23" data-component="number" aria-labelledby="label_33"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_34">
				<label class="form-label form-label-top form-label-auto" id="label_34" for="input_34"> PAY_AMT1 </label>
				<div id="cid_34" class="form-input-wide" data-layout="half">
					<input type="number" id="input_34" name="q34_pay_amt1" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="2000" style="width:310px" size="310"
						value="2000" placeholder="ex: 23" data-component="number" aria-labelledby="label_34"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_35">
				<label class="form-label form-label-top form-label-auto" id="label_35" for="input_35"> PAY_AMT2 </label>
				<div id="cid_35" class="form-input-wide" data-layout="half">
					<input type="number" id="input_35" name="q35_pay_amt2" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="2019" style="width:310px" size="310"
						value="2019" placeholder="ex: 23" data-component="number" aria-labelledby="label_35"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_36">
				<label class="form-label form-label-top form-label-auto" id="label_36" for="input_36"> PAY_AMT3 </label>
				<div id="cid_36" class="form-input-wide" data-layout="half">
					<input type="number" id="input_36" name="q36_pay_amt3" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="1200" style="width:310px" size="310"
						value="1200" placeholder="ex: 23" data-component="number" aria-labelledby="label_36"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_37">
				<label class="form-label form-label-top form-label-auto" id="label_37" for="input_37"> PAY_AMT4 </label>
				<div id="cid_37" class="form-input-wide" data-layout="half">
					<input type="number" id="input_37" name="q37_pay_amt4" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="1100" style="width:310px" size="310"
						value="1100" placeholder="ex: 23" data-component="number" aria-labelledby="label_37"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_38">
				<label class="form-label form-label-top form-label-auto" id="label_38" for="input_38"> PAY_AMT5 </label>
				<div id="cid_38" class="form-input-wide" data-layout="half">
					<input type="number" id="input_38" name="q38_pay_amt5" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="1069" style="width:310px" size="310"
						value="1069" placeholder="ex: 23" data-component="number" aria-labelledby="label_38"
						step="any" />
				</div>
			</li>
			<li class="form-line" data-type="control_number" id="id_39">
				<label class="form-label form-label-top form-label-auto" id="label_39" for="input_39"> PAY_AMT6 </label>
				<div id="cid_39" class="form-input-wide" data-layout="half">
					<input type="number" id="input_39" name="q39_pay_amt6" data-type="input-number"
						class=" form-number-input form-textbox" data-defaultvalue="1000" style="width:310px" size="310"
						value="1000" placeholder="ex: 23" data-component="number" aria-labelledby="label_39"
						step="any" />
				</div>
			</li>
		</form>
		<h1>Upload an image</h1>
		<hr>

		<form action="/upload-image" method="POST" enctype="multipart/form-data">

			<div class="form-group">
				<label>Select image</label>
				<div class="custom-file">
					<input type="file" class="custom-file-input" name="image" id="image">
					<label class="custom-file-label" for="image">Select image...</label>
				</div>
			</div>

			<button type="submit" class="btn btn-primary">Upload</button>



			<h2> Download predicted file</h2>
			<p>
				<a href="{{url_for('download_file')}}">Download</a>
			</p>



	</div>


</body>

</html>