<!DOCTYPE html>
<html>
<!--From https://codepen.io/frytyler/pen/EGdtg-->

<head>
	<meta charset="UTF-8">
	<title>ML API</title>
	<link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>

<body>
	<div class="login">
		<h1>Predict Salary Analysis</h1>

		<!-- Main Input For Receiving Query to our ML -->
		<form action="{{ url_for('predict')}}" method="post">

			<input type="text" name="LIMIT_BAL" placeholder="Test Score" required="required" />
			<input type="text" name="SEX" placeholder="Interview_Score" required="required" />
			<input type="text" name="EDUCATION" placeholder="EDUCATION" required="required" />
			<input type="text" name="MARRIAGE" placeholder="MARRIAGE" required="required" />
			<input type="text" name="AGE" placeholder="AGE" required="required" />
			<input type="text" name="PAY_0" placeholder="PAY_0" required="required" />
			<input type="text" name="PAY_2" placeholder="PAY_2" required="required" />
			<input type="text" name="PAY_3" placeholder="PAY_3" required="required" />
			<input type="text" name="PAY_4" placeholder="PAY_4" required="required" />
			<input type="text" name="PAY_5" placeholder="PAY_5" required="required" />
			<input type="text" name="PAY_6" placeholder="PAY_6" required="required" />
			<input type="text" name="BILL_AMT1" placeholder="BILL_AMT1" required="required" />
			<input type="text" name="BILL_AMT2" placeholder="BILL_AMT2" required="required" />
			<input type="text" name="BILL_AMT3" placeholder="BILL_AMT3" required="required" />
			<input type="text" name="BILL_AMT4" placeholder="BILL_AMT4" required="required" />
			<input type="text" name="BILL_AMT5" placeholder="BILL_AMT5" required="required" />
			<input type="text" name="BILL_AMT6" placeholder="BILL_AMT6" required="required" />
			<input type="text" name="PAY_AMT1" placeholder="PAY_AMT1" required="required" />
			<input type="text" name="PAY_AMT2" placeholder="PAY_AMT2" required="required" />
			<input type="text" name="PAY_AMT3" placeholder="PAY_AMT3" required="required" />
			<input type="text" name="PAY_AMT4" placeholder="PAY_AMT4" required="required" />
			<input type="text" name="PAY_AMT5" placeholder="PAY_AMT5" required="required" />
			<input type="text" name="PAY_AMT6" placeholder="PAY_AMT6" required="required" />


			<button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
		</form>

		<br>
		<br>
		{{ prediction_text }}

	</div>


</body>

</html>